.2_9 { 
	overflow:hidden;
}.e2_9 { 
	background-color:rgba(26.56249936670065, 24.2382799834013, 24.2382799834013, 1);
	width:1920px;
	height:3375px;
	position:absolute;
}.e2_40 { 
	color:rgba(255, 255, 255, 1);
	width:586px;
	height:91px;
	position:absolute;
	left:713px;
	top:46px;
	font-family:Gotham;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}.e2_68 { 
	color:rgba(255, 255, 255, 1);
	width:1015px;
	height:27px;
	position:absolute;
	left:713px;
	top:137px;
	font-family:Gotham;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e2_41 { 
	color:rgba(255, 255, 255, 1);
	width:586px;
	height:18px;
	position:absolute;
	left:713px;
	top:241px;
	font-family:Gotham;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e2_70 { 
	color:rgba(255, 255, 255, 1);
	width:586px;
	height:19px;
	position:absolute;
	left:713px;
	top:540px;
	font-family:Gotham;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e2_44 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1142px;
	height:224px;
	position:absolute;
	left:713px;
	top:283px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e2_71 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1142px;
	height:224px;
	position:absolute;
	left:713px;
	top:583px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e2_37 { 
	background-color:rgba(44.24046367406845, 42.238803282380104, 49.93750177323818, 1);
	width:1920px;
	height:1796px;
	position:absolute;
	left:0px;
	top:934px;
}.e2_47 { 
	color:rgba(255, 255, 255, 1);
	width:172px;
	height:19px;
	position:absolute;
	left:63px;
	top:997px;
	font-family:Gotham;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e5_15 { 
	color:rgba(255, 255, 255, 1);
	width:172px;
	height:19px;
	position:absolute;
	left:116px;
	top:2779px;
	font-family:Gotham;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e2_39 { 
	width:602px;
	height:826px;
	position:absolute;
	left:59px;
	top:46.000030517578125px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_49 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:104px;
	position:absolute;
	left:63px;
	top:1045px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e5_21 { 
	background-color:rgba(44.24046367406845, 42.238803282380104, 49.93750177323818, 1);
	width:1920px;
	height:230px;
	position:absolute;
	left:0px;
	top:3085px;
}.e5_2 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:35px;
	position:absolute;
	left:64px;
	top:1280px;
	font-family:Gotham;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e2_59 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:315px;
	height:27px;
	position:absolute;
	left:185px;
	top:2626px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e2_60 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:349px;
	height:46px;
	position:absolute;
	left:792px;
	top:2626px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e5_14 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:371px;
	height:46px;
	position:absolute;
	left:1375px;
	top:2623px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e2_52 { 
	color:rgba(255, 255, 255, 1);
	width:1792px;
	height:27px;
	position:absolute;
	left:59px;
	top:1353px;
	font-family:Gotham;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e5_3 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:38px;
	position:absolute;
	left:59px;
	top:1391px;
	font-family:Gotham;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e5_16 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:76px;
	position:absolute;
	left:116px;
	top:2822px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e5_17 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:38px;
	position:absolute;
	left:116px;
	top:2898px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e5_18 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:38px;
	position:absolute;
	left:116px;
	top:2938px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e5_19 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:38px;
	position:absolute;
	left:116px;
	top:2976px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e5_20 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:38px;
	position:absolute;
	left:116px;
	top:3013px;
	font-family:Gotham;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}.e5_4 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:38px;
	position:absolute;
	left:59px;
	top:1429px;
	font-family:Gotham;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e5_6 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:31px;
	position:absolute;
	left:58px;
	top:1470px;
	font-family:Gotham;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e5_8 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:31px;
	position:absolute;
	left:58px;
	top:1511px;
	font-family:Gotham;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e5_9 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:63px;
	position:absolute;
	left:59px;
	top:1551px;
	font-family:Gotham;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e5_10 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:28px;
	position:absolute;
	left:58px;
	top:1624px;
	font-family:Gotham;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e5_12 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:28px;
	position:absolute;
	left:53px;
	top:1665px;
	font-family:Gotham;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e5_13 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:1792px;
	height:28px;
	position:absolute;
	left:58px;
	top:1705px;
	font-family:Gotham;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e2_51 { 
	width:1840px;
	height:100px;
	position:absolute;
	left:40px;
	top:1173px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_55 { 
	width:570px;
	height:786px;
	position:absolute;
	left:58px;
	top:1800px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_56 { 
	width:570px;
	height:786px;
	position:absolute;
	left:667px;
	top:1800px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_57 { 
	width:568px;
	height:786px;
	position:absolute;
	left:1277px;
	top:1800px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_69 { 
	color:rgba(255, 255, 255, 1);
	width:172px;
	height:29px;
	position:absolute;
	left:869px;
	top:3112px;
	font-family:Gotham;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e2_64 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:431px;
	height:33px;
	position:absolute;
	left:746px;
	top:3149px;
	font-family:Gotham;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e2_65 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:582px;
	height:62px;
	position:absolute;
	left:664px;
	top:3227px;
	font-family:Gotham;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e2_66 { 
	color:rgba(120.06249949336052, 120.06249949336052, 120.06249949336052, 1);
	width:582px;
	height:36px;
	position:absolute;
	left:664px;
	top:3188px;
	font-family:Gotham;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}